<!DOCTYPE html>
<html>
  <head>
    <title>Anne's blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Annes blog</a></h1>
      </header>

      <article>
        <time> published: 20.05.2021, 10:54</time>
        <h2><a href="">My first post</a></h2>
        <p>It works! This blog is amazing look at it go!</p>
      </article>

      <article>
        <time> published: 20.05.2021, 10:58</time>
        <h2><a href="">My second post</a></h2>
        <p>And here is another amazing article to demonstrate the supreme awesomeness of this blog which I have coded from scratch from the Django Girls tutorial. OK that is more like a sentence. But you get the idea.</p>
      </article>      
  </body>
</html>
